.footerTitle {
  text-align: center;
  margin: 0.4em 0 0.2em 0;
  color: grey;
  font-size: 25px;
}
.footerRowContainer {
  display: flex;
  justify-content: center;
}
.footerRow {
  margin: 0.1em 1em 1em 1em;
}
.footer {
  background-color: black;
  margin: 1em 0 0 0;
  padding: 0.1em 0;
}
.footerLink {
  margin: 0.1em 0;
  color: #00f5e4;
  text-decoration: none;
  font-size: 20px;
}
.footerLink:hover {
  color: hotpink;
}
.nameStyle {
  font-weight: 900;
  font-size: 20px;
}
